body {
    font-family: Lato, sans-serif;
    background-color: #FF5607;
    color: black;
}

#header {
    text-align: center;
    background-color: #FFC100;
    color: black;
    margin-bottom: -20px;
    padding-top: 1%;
}

#logo {
    height: 35%;
    width: 35%;
}

.navbar {
    background-color: #FF9800;
    border: none;
    border-radius: 0 !important;
    margin: 0%;
}

.navbar-inverse .navbar-nav>li>a {
    color: black;
    font-size: large;
}

.nav>li {
    left: 390px;
}

html {
    height: 100%;
}

#intro-pic {
    background-image: url(media/display.jpg);
    background-repeat: no-repeat;
    background-position: 5% 42%;
    background-color: #FF9800;
    background-size: cover;
    padding-top: 15%;
    padding-bottom: 15%;

    color: white;
    text-align: center;
    padding-top: 25%;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

#intro-pic hr {
    width: 400px;
    border-top: 1px solid #f8f8f8;
}

#subtitle {
    text-align: center;
    font-weight: 500;
    margin-bottom: -12px;
    margin-top: 0;
}

h1 {
    font-weight: 700;
    font-size: 5em;
}

hr {
    width: 300px;
    border-top: 1px solid black;
    padding-bottom: 2%;
}

#about-img {
    margin: 1%;
    float: left;
    padding-bottom: 1%;
}

#about-desc {
    margin: 1%;
    float: left;
    padding-bottom: 1%;
}

#spices {
    margin-top: 1%;
}

.thumbnail {
    background-color: #FFC100;
    border: solid #FFC100 1px;
}

.spice-text {
    font-weight: bold;
    padding-top: 1%;
}

#contact-info {
    margin: 1%;
    float: left;
    padding-bottom: 1%;
}

@media screen and (max-width: 800px) {
    .nav>li {
        left: 0;
    }
}

@media screen and (max-width: 500px) {
    .nav>li {
        left: 0;
    }
}