body {
    font-family: Lato, sans-serif;
    background-color: #FF5607;
    color: black;
}

#header {
    margin-top: 0;
    text-align: center;
    background-color: #FFC100;
    color: black;
}

    #header h1 {
        margin-bottom: -12px;
    }

#logo {
    height: 25%;
    width: 25%;
}

.navbar {
    background-color: #FF9800;
    border: none;
    border-radius: 0 !important;
    margin: 0%;
}

.navbar-inverse .navbar-nav>li>a {
    color: black;
    font-size: large;
}

.nav>li {
    left: 345px;
}

@media screen and (max-width: 500px) {
    .nav>li {
        left: 0;
    }
}

html {
    height: 100%;
}

#intro-pic {
    background-image: url(media/display.jpg);
    background-repeat: no-repeat;
    background-position: 5% 42%;
    background-color: #FF9800;
    background-size: cover;
    margin: 1%;
}

#content {
    text-align: center;
    color: white;
    padding-top: 15%;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.2),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

.thumbnail {
    background-color: #FFC100;
    border: solid #FFC100 1px;
}

.spice-text {
    font-weight: bold;
    padding-top: 1%;
}

h1 {
    font-weight: 700;
    font-size: 5em;
}

hr {
    width: 400px;
    border-top: 1px solid white;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

#about {
    margin: 2%;
    text-align: center;
}